logs
*.log
npm-debug.log*

build/Release
node_modules
bower_components
jspm_packages
.idea
.npm
.node_repl_history
/out/

### App

src/*
!src/*/
!src/*.tsx
!src/*.ts
src/*.d.ts
!src/*.less
!src/*.scss
!src/*.sass
!src/*.json
!src/*.html

src/main/*
src/main/*.css.d.ts
!src/main/*/
!src/main/*.tsx
!src/main/*.ts
!src/main/*.less
!src/main/*.scss
!src/main/*.sass
!src/main/*.json
!src/main/*.html
!src/main/*.(png|jpg|gif)

src/main/*/*
src/main/*/*.css.d.ts
!src/main/*/*/
!src/main/*/*.tsx
!src/main/*/*.ts
src/main/*/*.d.ts
!src/main/*/*.less
!src/main/*/*.scss
!src/main/*/*.sass
!src/main/*/*.json
!src/main/*/*.html
!src/main/*/*.(png|jpg|gif)

src/main/components/*/*
!src/main/components/*/*.tsx
!src/main/components/*/*.ts
src/main/components/*/*.d.ts
!src/main/components/*/*.less
!src/main/components/*/*.scss
!src/main/components/*/*.sass
!src/main/components/*/*.json
!src/main/components/*/*.html
!src/main/components/*/*.png
!src/main/components/*/*/
